:root {
    font-family: 'Roboto';
}

body {
  margin: 0;
  width: 100dvw;
  height: 100dvh;
  background-size: cover;
  background-image: url(images/clear-weather.jpg);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
    display: flex;
    gap: 10px;
}

form>* {
    background-color: rgba(0, 0, 0, 0.493);
    color: white;
    border: none;
}

form>::placeholder {
    color: rgba(255, 255, 255, 0.527);
}

input{
    font-size: 50px;
    padding: 10px .5em;
    border-radius: .5em;
}

button {
    font-size: 50px;
    padding: 10px 16px;
    border-radius: .5em;
    display: flex;
    align-items: center;
}

button img {
    height: 1em;
}