:root {
    font-family: 'Roboto';
    --background-color: rgba(0, 0, 0, 0.493);
    --off-white: rgba(255, 255, 255, 0.527);
    --off-white-two: rgba(255, 255, 255, 0.945);

    --input-font-size: clamp(14px, 2.6dvw, 50px);
    --header-font-size: clamp(12px, 1.3dvw, 24px);
    --details-font-size: clamp(10px, 1.1dvw, 20px);
    --container-padding: 0 clamp(20px, 5dvw, 100px)
}

body {
  margin: 0;
  width: 100dvw;
  height: 100dvh;
  background-size: cover;
  background-image: url(images/clear-weather.jpg);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

form {
    display: flex;
    gap: 10px;
    padding: var(--container-padding);
}

form>* {
    background-color: rgba(0, 0, 0, 0.493);
    color: white;
    border: none;
}

form>::placeholder {
    color: var(--off-white)
}

input{
    font-size: var(--input-font-size);
    padding: 10px .5em;
    border-radius: .5em;
    width: 100%;
}

button {
    font-size: var(--input-font-size);
    padding: 10px 16px;
    border-radius: .5em;
    display: flex;
    align-items: center;
}

button img {
    height: 1em;
}

.container {
    display: flex;
    gap: 10px;
    width: 100dvw;
    padding: var(--container-padding);
    box-sizing: border-box;
    flex-wrap: wrap;
}

.weather-report {
    flex: 1;
    background-color: var(--background-color);
    color: var(--off-white-two);
    border-radius: 1em;

    display: flex;
    flex-direction: column;
    padding: 1em;
    align-items: center;
}

.weather-report>h2 {
    margin-bottom: .2em;
    margin-top: 0;
}

h2 {
    font-size: var(--header-font-size);
}

.weather-report p {
    font-size: var(--details-font-size);
    margin-bottom: 0;
    margin-top: .3em;
    text-align: center;
}